header.header
  h1.logo
    a(href="./")
      img(src="../images/logo.svg")
  .nav-container
    nav.nav
      ul.menu
        each item in menu
          li.menu-item
            if item.childitems
              a(href=`${item.pagelink}`).menu-link #{item.pagetitle}
              ul.submenu
                each childitem in item.childitems
                  li.menu-item
                    a(href=`${childitem.pagelink}`).menu-link #{childitem.pagetitle}
            else
              a(href=`${item.pagelink}`).menu-link #{item.pagetitle}
    button#menu-button(class=`${textcolor}`) Menu
  .overlay

