header.header
  h1.logo
    a(href="./")
      if textcolor === 'light'
        img(src="../images/haave_logo_white.svg")
      else
        img(src="../images/haave_logo.svg")
  .nav-container
    nav.nav
      ul.menu(class=`${textcolor}`)
        each item in menu
          li.menu-item
            if item.childitems
              a(href=`${item.pagelink}`).menu-link #{item.pagetitle}
              ul.submenu
                each childitem in item.childitems
                  li.menu-item
                    a(href=`${childitem.pagelink}`).menu-link #{childitem.pagetitle}
            else
              a(href=`${item.pagelink}`).menu-link #{item.pagetitle}
        li.menu-item
          a(href="https://www.instagram.com/haave.haave/" target="blank" rel="noopener noreferrer").menu-link Instagram
    button#menu-button(class=`${textcolor}`) Menu
  .overlay

