meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title #{title}
meta(name="description" content=description)
meta(property="og:locale" content="ja_JP")
meta(property="og:type" content="website")
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:url" content=url)
meta(property="og:site_name" content=title)
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=title)
link(rel="icon" href="../images/favicon.png" sizes="64x64")
link(rel="apple-touch-icon" href="../images/favicon.png" sizes="192x192")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?amily=Montserrat:wght@500&display=swap&family=Gilda+Display&family=Lusitana:wght@400;700&display=swap" rel="stylesheet")
link(rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css")
